h3{
	color: red;
	font-weight: bold;	
}

.textBox{
	width: 40px;
	height: 20px;
 
}

.textBoxBlue{
	width: 40px;
	height: 20px;
	color: blue;
	font-weight: bold;
}

.textBoxRed{
	width: 40px;
	height: 20px;
	color: red;
	font-weight: bold;
}